/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
}

.container {
    width: 80%;
    margin: auto;
    padding: 2rem 0;
    text-align: center;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin: 0 1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease-in-out;
}

.navbar ul li a:hover {
    color: #007BFF;
}

/* Section Styling */
.about, .mission, .social-media {
    background: #fff;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about h1, .mission h2, .social-media h2 {
    margin-bottom: 1rem;
    color: #007BFF;
}

.about-img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    border-radius: 8px;
}

/* Social Media */
.social-media ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 1rem;
}

.social-media ul li {
    margin: 0 10px;
}

.social-media ul li a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-media ul li a img:hover {
    transform: scale(1.1);
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.footer-columns .column {
    flex: 1;
    padding: 1rem;
}

.footer-columns ul {
    list-style: none;
    padding: 0;
}

.footer-columns ul li {
    margin: 0.5rem 0;
}

.footer-columns ul li a {
    color: #fff;
    text-decoration: none;
    transition: text-decoration 0.3s ease-in-out;
}

.footer-columns ul li a:hover {
    text-decoration: underline;
}
